---
// Import Components
import CommonMeta from '@/components/seo/CommonMeta.astro'
import SiteVerification from '@/components/analytics/SiteVerification.astro'
import TagManager from '@/components/analytics/TagManager.astro'
import WebVitals from '@/components/analytics/WebVitals.astro'
import Performance from '@/components/performance/Performance.astro'
import Meta from '@/components/seo/Meta.astro';
import Schema from '@/components/seo/Schema.astro';
import Favicons from '@/components/seo/Favicons.astro';
import '@/assets/styles/global.css';

// Import monitoring
import { initSentry } from '@/utils/security/monitoring';

// Import components
//import Nav from '@/components/common/Nav.astro';

// Import Types
import type { MetaData } from '@/types/seo';
import type { SchemaData } from '@/types/seo';

export interface Props {
  metadata?: MetaData;
  schemaData?: SchemaData[];
}

const { metadata = {}, schemaData = [] } = Astro.props;

// Initialize Sentry for error monitoring
initSentry();
---
<!doctype html>
<html lang="en">
  <head>
    <CommonMeta />
    <SiteVerification />
    <TagManager />
	  <Favicons />
    <Meta {...metadata} />
    <Schema schemaData={schemaData} />
    <Performance />
    <WebVitals />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>